body {
  background-color: blueviolet;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
.login-div {
  padding: 15px;
  border: 1px solid black;
  position: absolute; /* or absolute */
  top: 30%;
  left: 45%;
}
.signup-div {
  padding: 2px;
  margin: 10px;
  border: 1px solid black;
}

.input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  color: white;
  background-color: #3CBC8D;

}


.row {
  display: table;
  width: 100%;
}
.column {
  display: table-cell;
  padding: 10px;
   /* Should be removed. Only for demonstration */
}

.column1 {
  width: 30%;
}

.column2 {
  width: 70%;
  position: relative;
}

/* Clear floats after the columns */
