body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p {
  color: black;
}
.maindiv
{
  height: 308px;
  width: 254px;
  margin: 100px 500px;
  padding: 0px;
  background-color: gray;
}
.divone
{
  margin: 0px;
  padding: 0px;
  width: 254px;
}
.divtwo
{
  margin: 0px;
  padding: 0px;
  width: 254px;
}
.size
{
  width: 63.5px;
  height: 60px;
}
.clear
{
  width: 254px;
}
